body{
    background: linear-gradient(to right, #c300ffc0, #ff05de);
    background-color: purple
}
.container{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}